:host {
  font-family:"RobotoDraft",Helvetica,Arial,sans-serif;
  font-weight: 200;
  margin: 0;
}

/*** UNIVERSAL PAPER ELEMENT STYLES ***/

:host /deep/ paper-fab {
  background-color: #3e50b4;
  color: #FFF;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

:host /deep/ paper-fab:hover {
  background-color: #586ACE;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

:host /deep/ paper-button[raisedButton].colored {
  background-color: #3e50b4;
  color: #fff;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

:host /deep/ paper-button[raisedButton].colored:hover {
  background-color: #586ACE;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

:host /deep/ paper-button[raisedButton].colored #ripple,
:host /deep/ paper-button[raisedButton].colored::shadow #ripple {
  color: #7183E7;
}

/*** HEADER ***/

core-header-panel {
  position: static;
}

.core-header {
  color: #FFF;
  background-color: #3e50b4 !important;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  padding: 0 20px;
  transition: height 0.2s, font-size 0.2s, line-height 0.2s;
}

.core-header.medium-tall {
  height: 200px;
  line-height: 200px;
  font-size: 30px;
}

#fab-back {
  margin-top: 20px;
}
