#question-card {
  margin: 15px;
  padding: 28px;
}

#fab-back {
  position: absolute;
  left: -20px;
}

#question-number {
  line-height: 25px;
  font-size: 20px;
  margin-bottom: 0;
}

#fab-prev-question {
  margin-right: 10px;
}

#question {
  margin-top: 10px;
  line-height: 30px;
}

paper-radio-button::shadow #radioLabel {
  line-height: 30px;
  border: 3px solid #FFF;
  padding: 5px;
  -webkit-transition: border 250ms linear;
  -moz-transition: border 250ms linear;
  -o-transition: border 250ms linear;
  -ms-transition: border 250ms linear;
  transition: border 250ms linear;
}

paper-radio-button::shadow #radioLabel.correct {
  border-color: #C5E26D;
  -webkit-transition: border-color 250ms linear;
  -moz-transition: border-color 250ms linear;
  -o-transition: border-color 250ms linear;
  -ms-transition: border-color 250ms linear;
  transition: border-color 250ms linear;
}

paper-radio-button::shadow #onRadio {
  background-color: #3e50b4;
}

paper-radio-button {
  color: #000;
  border: 1px solid #FFF;
  -webkit-transition: color 250ms linear;
  -moz-transition: color 250ms linear;
  -o-transition: color 250ms linear;
  -ms-transition: color 250ms linear;
  transition: color 250ms linear;
}

paper-radio-button:hover {
  color: #AAA;
  -webkit-transition: color 250ms linear;
  -moz-transition: color 250ms linear;
  -o-transition: color 250ms linear;
  -ms-transition: color 250ms linear;
  transition: color 250ms linear;
}

#btn-list-questions {
  margin-right: 5px;
}

#btn-submit-answer {
  margin-left: 5px;
}

paper-toast {
  font-weight: bold;
  text-align: center;
}

paper-toast#toastCorrect {
  background-color: #669900;
}

paper-toast#toastWrong {
  background-color: #E21D1D;
}

.dialog-item {
  margin-bottom: 15px;
}

.dialog-item core-icon {
  margin-right: 10px;
}

.dialog-index,
.dialog-question {
  line-height: 24px;
}

.dialog-index {
  margin-right: 10px;
}

.dialog-question {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
