#question-card {
  margin: 15px;
  padding: 28px;
}

#fab-back {
  position: absolute;
  left: -20px;
}

#question-number {
  line-height: 25px;
  font-size: 20px;
  margin-bottom: 0;
}

#fab-prev-question {
  margin-right: 10px;
}

#question {
  margin-top: 10px;
  line-height: 30px;
}

paper-radio-button::shadow #radioLabel {
  line-height: 30px;
}

paper-radio-button {
  color: #000;
  -webkit-transition: color 250ms linear;
  -moz-transition: color 250ms linear;
  -o-transition: color 250ms linear;
  -ms-transition: color 250ms linear;
  transition: color 250ms linear;
}

paper-radio-button:hover {
  color: #AAA;
  -webkit-transition: color 250ms linear;
  -moz-transition: color 250ms linear;
  -o-transition: color 250ms linear;
  -ms-transition: color 250ms linear;
  transition: color 250ms linear;
}

#btn-submit-answer {
  margin-top: 10px;
}

